In [1]:
# import libraries

import numpy as np
import pandas as pd

In [2]:
# importing warnings & others related to display

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

from IPython.core.display import display, HTML
display(HTML('<style>.container {width:90% !important; }</style>'))

In [3]:
df = pd.read_excel('Table of Size Standards_Effective March 17, 2023.xlsx', sheet_name = 'table_of_size_standards-all')
df

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
1,Subsector 111 – Crop Production,NaN,NaN,NaN,NaN
2,111110,Soybean Farming,2.25,NaN,NaN
3,111120,Oilseed (except Soybean) Farming,2.25,NaN,NaN
4,111130,Dry Pea and Bean Farming,2.75,NaN,NaN
...,...,...,...,...,...
1100,813930,Labor Unions and Similar Labor Organizations,16.5,NaN,NaN
1101,813940,Political Organizations,14,NaN,NaN
1102,813990,"Other Similar Organizations (except Business, ...",13.5,NaN,NaN
1103,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 17
1104,NaN,(Small business size standards are not establi...,NaN,NaN,NaN

In [4]:
df.head()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
1,Subsector 111 – Crop Production,NaN,NaN,NaN,NaN
2,111110,Soybean Farming,2.25,NaN,NaN
3,111120,Oilseed (except Soybean) Farming,2.25,NaN,NaN
4,111130,Dry Pea and Bean Farming,2.75,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1105 entries, 0 to 1104
Data columns (total 5 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   NAICS Codes                             1082 non-null   object
 1   NAICS Industry Description              1019 non-null   object
 2   Size standards
in millions of dollars  513 non-null    object
 3   Size standards in number of employees   483 non-null    float64
 4   Footnotes                               37 non-null     object
dtypes: float64(1), object(4)
memory usage: 43.3+ KB

In [6]:
df.isnull().sum()

NAICS Codes                                  23
NAICS Industry Description                   86
Size standards \nin millions of dollars     592
Size standards in number of employees       622
Footnotes                                  1068
dtype: int64

In [7]:
df = df[df['NAICS Codes'].isnull()]
df

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN
96,NaN,Sector 22 – Utilities,NaN,NaN,NaN
112,NaN,Sector 23 – Construction,NaN,NaN,NaN
149,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN
517,NaN,Sector 42 – Wholesale Trade,NaN,NaN,NaN
518,NaN,(These NAICS codes shall not be used to classi...,NaN,NaN,NaN
591,NaN,Sector 44 - 45 – Retail Trade,NaN,NaN,NaN
592,NaN,(These NAICS codes shall not be used to classi...,NaN,NaN,NaN
659,NaN,Sector 48 - 49 – Transportation and Warehousing,NaN,NaN,NaN
729,NaN,Sector 51 – Information,NaN,NaN,NaN
765,NaN,Sector 52 – Finance and Insurance,NaN,NaN,NaN
804,NaN,Sector 53 – Real Estate and Rental and Leasing,NaN,NaN,NaN
836,NaN,"Sector 54 – Professional, Scientific and Techn...",NaN,NaN,NaN
893,NaN,Sector 55 – Management of Companies and Enterp...,NaN,NaN,NaN
897,NaN,Sector 56 – Administrative and Support and Was...,NaN,NaN,NaN
945,NaN,Sector 61 – Educational Services,NaN,NaN,NaN
965,NaN,Sector 62 – Health Care and Social Assistance,NaN,NaN,NaN
1009,NaN,"Sector 71 – Arts, Entertainment and Recreation",NaN,NaN,NaN
1038,NaN,Sector 72 – Accommodation and Food Services,NaN,NaN,NaN
1056,NaN,Sector 81 – Other Services (except Public Admi...,NaN,NaN,NaN
1103,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 17
1104,NaN,(Small business size standards are not establi...,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 1104
Data columns (total 5 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   NAICS Codes                             0 non-null      object
 1   NAICS Industry Description              23 non-null     object
 2   Size standards
in millions of dollars  0 non-null      object
 3   Size standards in number of employees   0 non-null      float64
 4   Footnotes                               1 non-null      object
dtypes: float64(1), object(4)
memory usage: 1.1+ KB

In [9]:
df.head()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN
96,NaN,Sector 22 – Utilities,NaN,NaN,NaN
112,NaN,Sector 23 – Construction,NaN,NaN,NaN
149,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN

### Cleaning Dataset

In [10]:
df['LookupCodes'] = df['NAICS Industry Description'].str.slice(start = 7, stop = 9)

In [11]:
df.head()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes,LookupCodes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,11
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN,21
96,NaN,Sector 22 – Utilities,NaN,NaN,NaN,22
112,NaN,Sector 23 – Construction,NaN,NaN,NaN,23
149,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN,31

In [12]:
df['NAICS Industry Description'].str.len()

0        54
71       57
96       21
112      24
149      30
517      27
518     537
591      29
592     537
659      47
729      23
765      33
804      46
836      59
893      51
897      84
945      32
965      45
1009     46
1038     43
1056     57
1103     33
1104    284
Name: NAICS Industry Description, dtype: int64

In [13]:
df['Sector'] = df['NAICS Industry Description'].str.slice(start = 12, stop = 550)

In [14]:
df.head()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes,LookupCodes,Sector
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,11,"Agriculture, Forestry, Fishing and Hunting"
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN,21,"Mining, Quarrying, and Oil and Gas Extraction"
96,NaN,Sector 22 – Utilities,NaN,NaN,NaN,22,Utilities
112,NaN,Sector 23 – Construction,NaN,NaN,NaN,23,Construction
149,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN,31,33 – Manufacturing

In [15]:
df = df[['NAICS Industry Description', 'LookupCodes', 'Sector']]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 1104
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   NAICS Industry Description  23 non-null     object
 1   LookupCodes                 23 non-null     object
 2   Sector                      23 non-null     object
dtypes: object(3)
memory usage: 736.0+ bytes

In [17]:
df[df['LookupCodes'].str.isnumeric()]

,NAICS Industry Description,LookupCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
96,Sector 22 – Utilities,22,Utilities
112,Sector 23 – Construction,23,Construction
149,Sector 31 – 33 – Manufacturing,31,33 – Manufacturing
517,Sector 42 – Wholesale Trade,42,Wholesale Trade
591,Sector 44 - 45 – Retail Trade,44,45 – Retail Trade
659,Sector 48 - 49 – Transportation and Warehousing,48,49 – Transportation and Warehousing
729,Sector 51 – Information,51,Information
765,Sector 52 – Finance and Insurance,52,Finance and Insurance
804,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
836,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
893,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
897,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
945,Sector 61 – Educational Services,61,Educational Services
965,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1009,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1038,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1056,Sector 81 – Other Services (except Public Admi...,81,Other Services (except Public Administration)
1103,Sector 92 – Public Administration,92,Public Administration

In [18]:
df.loc[df['Sector'] == '33 – Manufacturing', 'Sector'] = 'Manufacturing'

In [19]:
df

,NAICS Industry Description,LookupCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
96,Sector 22 – Utilities,22,Utilities
112,Sector 23 – Construction,23,Construction
149,Sector 31 – 33 – Manufacturing,31,Manufacturing
517,Sector 42 – Wholesale Trade,42,Wholesale Trade
518,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
591,Sector 44 - 45 – Retail Trade,44,45 – Retail Trade
592,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
659,Sector 48 - 49 – Transportation and Warehousing,48,49 – Transportation and Warehousing
729,Sector 51 – Information,51,Information
765,Sector 52 – Finance and Insurance,52,Finance and Insurance
804,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
836,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
893,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
897,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
945,Sector 61 – Educational Services,61,Educational Services
965,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1009,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1038,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1056,Sector 81 – Other Services (except Public Admi...,81,Other Services (except Public Administration)
1103,Sector 92 – Public Administration,92,Public Administration
1104,(Small business size standards are not establi...,bu,ess size standards are not established for thi...

In [20]:
df['Sector'] = np.where(df['Sector'] == '45 – Retail Trade', 'Retail Trade', df['Sector'])
df['Sector'] = np.where(df['Sector'] == '49 – Transportation and Warehousing', 'Transportation and Warehousing', df['Sector'])

In [21]:
df

,NAICS Industry Description,LookupCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
96,Sector 22 – Utilities,22,Utilities
112,Sector 23 – Construction,23,Construction
149,Sector 31 – 33 – Manufacturing,31,Manufacturing
517,Sector 42 – Wholesale Trade,42,Wholesale Trade
518,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
591,Sector 44 - 45 – Retail Trade,44,Retail Trade
592,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
659,Sector 48 - 49 – Transportation and Warehousing,48,Transportation and Warehousing
729,Sector 51 – Information,51,Information
765,Sector 52 – Finance and Insurance,52,Finance and Insurance
804,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
836,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
893,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
897,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
945,Sector 61 – Educational Services,61,Educational Services
965,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1009,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1038,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1056,Sector 81 – Other Services (except Public Admi...,81,Other Services (except Public Administration)
1103,Sector 92 – Public Administration,92,Public Administration
1104,(Small business size standards are not establi...,bu,ess size standards are not established for thi...

In [22]:
df.loc [len(df.index)] = ['Sector 31 – 33 – Manufacturing', 32, 'Manufacturing']
df.loc [len(df.index)] = ['Sector 31 – 33 – Manufacturing', 33, 'Manufacturing']

df2 = {'NAICS Industry Description': 'Sector 44 - 45 – Retail Trade', 'LookupCodes': 45, 'Sector': 'Retail Trade'}
df = df.append(df2, ignore_index = True)

In [23]:
df.loc[len(df.index)] = ['Sector 48 - 49 – Transportation and Warehousing', 49, 'Transportation and Warehousing']

In [24]:
df

,NAICS Industry Description,LookupCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
1,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
2,Sector 22 – Utilities,22,Utilities
3,Sector 23 – Construction,23,Construction
4,Sector 31 – 33 – Manufacturing,31,Manufacturing
5,Sector 42 – Wholesale Trade,42,Wholesale Trade
6,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
7,Sector 44 - 45 – Retail Trade,44,Retail Trade
8,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
9,Sector 48 - 49 – Transportation and Warehousing,48,Transportation and Warehousing
10,Sector 51 – Information,51,Information
11,Sector 52 – Finance and Insurance,52,Finance and Insurance
12,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
13,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
14,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
15,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
16,Sector 61 – Educational Services,61,Educational Services
17,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
18,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
19,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
20,Sector 81 – Other Services (except Public Admi...,81,Other Services (except Public Administration)
21,Sector 92 – Public Administration,92,Public Administration
22,(Small business size standards are not establi...,bu,ess size standards are not established for thi...
23,Sector 31 – 33 – Manufacturing,32,Manufacturing
24,Sector 31 – 33 – Manufacturing,33,Manufacturing
25,Sector 44 - 45 – Retail Trade,45,Retail Trade
26,Sector 48 - 49 – Transportation and Warehousing,49,Transportation and Warehousing

In [25]:
# export cleaned datset into another csv file

df.to_csv('Clean_data_without_index.csv', encoding = 'utf-8', index = False)